@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Inter:wght@600&family=Passions+Conflict&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(0.25turn,#34067E, #7209B7);
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}


.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-areas: "nav content";
}

/* NAVBAR */

.container .navbar{
    grid-area: nav;
    /*position: fixed;*/
    width: 100%;
    top: 0;
    height: 100%;
    background-color: #7209B7;
    background: linear-gradient(0.5turn,#7209B7,#8300D9);
}

.container .navbar h3{
    color: #fff;
    font-family: 'Inspiration', cursive;
    text-align: center;
    margin-bottom: 50px;
    background-color: #8300D9;
    padding: 28px;
    font-size: 69px;
}

.container .navbar ul {
    top: 0;
    position: sticky;
    height: 100vh;
}

.container .navbar ul li{
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    cursor: pointer;
    text-shadow: 6px 2px 4px rgba(0, 0, 0, 0.25);
}

.container .navbar a {
    position: relative;
}

.container .navbar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #FFE6E6;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    }

.container .navbar a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


.container .navbar ul li:nth-child(6){
    border: none;
    text-shadow: none;
    text-align: center;
    margin-top: 100px;
}
.container .navbar ul li:nth-child(7){
    border: none;
    text-shadow: none;
    text-align: center;
}
.container .navbar ul li:nth-child(8){
    border: none;
    text-shadow: none;
    text-align: center;
}


.container .navbar ul li a{
    color: #FFE6E6;
    text-decoration: none;
}


.container .navbar ul li i{
    margin-right: 10px;
    color: #FFE6E6;
}

/* FIN NAVBAR */

/* CONTENU PRESENTATION */
.container .main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
    grid-area: content;
}

.container .main-content .content h1 {
    font-size: 96px;
    color: #E0C8C8;
    text-shadow: 6px 2px 4px rgba(0, 0, 0, 0.25);
}

.container .main-content .content h3 {
    font-size: 36px;
    color: #E0C8C8;
    margin-top: 45px;
    text-shadow: 6px 2px 4px rgba(0, 0, 0, 0.25);
}

.container .main-content .content h5 {
    font-size: 28px;
    color: #E0C8C8;
    margin-top: 50px;
    text-shadow: 6px 2px 4px rgba(0, 0, 0, 0.25);
}

.container .main-content .content button {
    font-size: 24px;
    width: 230px;
    height: 80px;
    border-radius: 20px;
    background-color: #7209B7;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    filter: drop-shadow(2px 5px 2px rgba(0, 0, 0, 0.25));
}

.container .main-content .content button a {
    color: #E0C8C8;
    text-decoration: none;
    text-shadow: 6px 2px 4px rgba(0, 0, 0, 0.25);
}

.container .main-content .content button a i {
    color: #E0C8C8;
    margin-left: 12px;
}

.container .main-content img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 220px;
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    background-color: #E0C8C8;
    filter: drop-shadow(15px 5px 10px);
    animation: fancy-border-animation 4s infinite;
}

.container .main-content .content {
    width: 100%;
}

.container .main-content .content .intro {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    flex-direction: row-reverse;
    height: 100vh;
}

.container .main-content .content .about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 120px;
}



/* FIN CONTENU PRESENTATION */

/* TRAVAIL RESPONSIVE */

@media screen and (max-width: 1655px){

    body{
        background: linear-gradient(0.25turn,#34067E, #7209B7);
    }
    
    .container{
        display: flex;
        position: relative;
        height: 100vh;
        justify-content: center;
    }

    .container .navbar h3 {
        display: none;
    }

    .container .navbar {
        position: fixed;
        z-index: 1;
    }
    
    .container .main-content {
        width: 100%;
        position: relative;
        justify-content: center;
    }

    .container .main-content .content h1 {
        font-size: 72px;
    }
    
    .container .main-content .content h3 {
        font-size: 32px;

    }
    
    .container .main-content .content h5 {
        font-size: 28px;
    }


    .container .main-content img {
        width: 420px;
        height: 420px;
        margin-top: 30px;
        object-fit: cover ;
    }



    .container .navbar{
        top: 0;
        width: 100%;
        height: 100px;
        position: fixed;
    }

    .container .navbar h3{
        text-align: left;
        left: 0;
    }
    
    .container .navbar ul{
        display: flex;
        width: 100%;
        height: 100px;
        list-style: none;
    }

    .container .navbar ul li{
        display: flex;
        font-size: 24px;
        height: fit-content;
    }

    .container .navbar ul li:nth-child(5){
        flex: 4;
    }

    .container .navbar ul li:nth-child(6){
        margin-top: 0;
    }
    
}


@media screen and (max-width: 1270px){

    .container{
        justify-content: center;
    }

    .container .navbar {
        height: 80px;
    }

    .container .navbar ul li {
        font-size: 22px;
    }

    .container .main-content {
        text-align: center;
        justify-content: center;
        padding: 0;
    }

    .container .main-content .content h1 {
        font-size: 52px;
    }
    
    .container .main-content .content h3 {
        font-size: 28px;

    }
    
    .container .main-content .content h5 {
        font-size: 20px;
    }



    .container .main-content img {
        height: 400px;
        width: 400px;
        object-fit: cover;
    }
}



@media screen and (max-width: 1024px){


    .container{
        justify-content: center;
    }

    .container .navbar {
        height: 70px;
    }

    .container .navbar ul li {
        font-size: 20px;
    }

    .container .navbar ul li:nth-child(5){
        border-right: 1px solid rgba(250, 250, 250, 0.568);
    }

    .container .main-content .content h1 {
        font-size: 52px;
    }
    
    .container .main-content .content h3 {
        font-size: 28px;

    }
    
    .container .main-content .content h5 {
        font-size: 20px;
    }



    .container .main-content {
        padding-left: 0;
    }
    

    .container .main-content img {
        height: 300px;
        width: 300px;
        object-fit: cover;
    }


    .container .main-content .content button {
        font-size: 20px;
        width: 200px;
        height: 60px;
    }

}


@media screen and (max-width: 910px){


    .container{
        justify-content: center;
    }

    .container .navbar ul {
        display: none;
    }

    .container .main-content .content h1 {
        font-size: 52px;
    }
    
    .container .main-content .content h3 {
        font-size: 28px;

    }
    
    .container .main-content .content h5 {
        font-size: 20px;
    }



    .container .main-content {
        text-align: center;
        justify-content: center;
        padding: 0;
    }
    

    .container .main-content img {
        display: none;
    }


    .container .main-content .content button {
        font-size: 20px;
        width: 200px;
        height: 60px;
    }

    .container .main-content .content .intro {
        gap: 0;
    }

}




/* FIN DU TRAVAIL RESPONSIVE */

/* SETUP¨ANIMATION */

@keyframes fancy-border-animation {
    from {
        border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    }

    50% {
        border-radius: 55% 45% 45% 55% / 46% 46% 54% 54% ; 
    }

    to {
        border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%
    }
}

/* FIN SETUP ANIMATION */

/* ANIMATION ON SCROLL */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1.2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/* FIN ANIMATION ON SCROLL */